<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{%server_name%}</title>
	<link title="​{%server_name%}" href="/opensearch{%ac%}" rel="search" type="application/opensearchdescription+xml">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/static/style.css?v{%version%}">
	{%style%}
	<meta name="robots" content="index,follow">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="description" content="{%server_name%}: {%server_short_description%}">
</head>

<body class="home">
	<div class="settings-icon">
		<a href="settings" title="Settings">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<circle cx="12" cy="12" r="3"></circle>
				<path
					d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
				</path>
			</svg>
		</a>
	</div>
	<div id="center">
		<form method="GET" autocomplete="off" action="web">
			<div class="logo">
				<a href="/">
					<img src="{%banner%}" alt="4get">
				</a>
			</div>
			<div class="searchbox">
				<input type="text" maxlength="500" name="s" placeholder="Ask anything, find anything..." required
					autofocus>
				<button type="submit" class="search-submit" tabindex="-1">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
						stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<circle cx="11" cy="11" r="8"></circle>
						<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
					</svg>
				</button>
				<div class="autocomplete"></div>
			</div>
		</form>

		<div class="footer-links">
			<a href="about">About</a>
			<a href="https://git.lolcat.ca/lolcat/4get">Source</a>
			<a href="https://lolcat.ca">Report</a>
			<a href="/donate">Donate</a>
		</div>
	</div>
	<script src="/static/client.js?v{%version%}"></script>
</body>

</html>