:root{
	--1d2021: #101010;
	--282828: #1a1a1a;
	--3c3836: #1e1e1e;
	--504945: #232323;

	--928374: #949494;
	--a89984: #d2d2d2;
	--bdae93: #d2d2d2;
	--8ec07c: #99c794;
	--ebdbb2: #d2d2d2;

	--comment: #5f6364;
	--default: #cccece;
	--keyword: #c594c5;
	--string:  #99c794;
}